<%- include('Header'); %>

<h2>File uploaded successfully</h2>

    <form action="/Results">
        <label class="custom-file-upload">
            <button type="submit"></button>
            See Results
        </label>
    </form>
</div>

<%- include('Footer'); %>
