<%- include('Header'); %>

<h2>A simple way </h2> 
<h3>to detect animals</h3>
<p>This project is to demonstrate the potential of ai and detection software.</p>

<button class="custom-file-upload" onclick="showOverlay()">Start</button>

<div class="uploadoverlay" id="uploadoverlay">
    <span  onclick="hideOverlay()" class="closebtn" title="Close Overlay">&#215</span>
    <div class="uploadoverlay-content">
        <h2 >Upload Images</h2>
        <p>Upload images of animals</p>

        <form action="/upload" method="post" enctype="multipart/form-data" id="form">

            <label class="custom-file-upload">
                <input id="image" type="file"  onchange="image_select()" name="filetoupload" multiple="multiple" accept="image/jpeg, image/png, image/jpg"/>
                Select
            </label>

            <label class="custom-file-upload">
                <button type="submit"></button>
                    Submit
            </label>
        </form>
        <div class="container mt-3 w-100">
            <div class="card showdow-sm w-100">

                <div class="card-body d-flex felex wrap justify-content-start" id="container">
                    
                </div>
            </div>

        </div>

    </div>
</div>

      

<script>
    function showOverlay() {document.getElementById("uploadoverlay").style.display = "block";}
    function hideOverlay() {document.getElementById("uploadoverlay").style.display = "none";}
</script>

<script>
    var images = [];
    function image_select(){
        var image = document.getElementById('image').files;
        for (i=0; i < image.length; i++){
            if(check_duplicate(image[i].name)){
                images.push({
                    "name" : image[i].name,
                    "url" : URL.createObjectURL(image[i]),
                    "file" : image[i],
                })
            }else{
                alert(image[i].name + " is already in the list")
            }
        }
        document.getElementById('form').reset();
        document.getElementById('container').innerHTML = image_show();
    }

    function image_show(){
        var image = "";
        images.forEach((i) => {
            image += `<div class="image_container d-flex justify-content-center position-relative">
                      <img src="`+ i.url+`" alt="Image">
                      <span class="position-absolute" onlick="delete_image(`+ images.indexOf(i)+`)">&times</span>
                      </div>`;
        })
        return image;
    }

    function delete_image(e) {
        image.splice(e,1);
        document.getElementById('container').innerHTML = image_show();
    }

    function check_duplicate(name){
        var image = true;
        if (image.length > 0){
            for(e=0; e< Images.length; e++){
                if (image[e].name == name){
                    image = false;
                    break
                }
            }
        }
        return image;
    }
</script>
<%- include('Footer'); %>
