<%- include('Header'); %>

    <h2 >Upload Images</h2>
    <p>Upload images of animals</p>

    <form action="/upload">

        <label class="custom-file-upload">
            <input id="fileinput" type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg"/>
            Select
        </label>

        <label class="custom-file-upload" id="uploadButton" style="display:none;">
            <button onclick="uploadImages()"></button>
            Submit
        </label>

    </form>

    <div id="errorm" style="display: none;">
        <p style="color: red;">You can only upload up to 5 images.</p>
    </div>
    <br>
        <div class=" showdow-sm w-100">
            <output></output>
        </div>



<script>
    const output = document.querySelector("output")
    const input = document.querySelector("input")
    const Submit = document.getElementById("uploadButton")
    const fileval = document.querySelector("fileinput")
    const errorm = document.querySelector("errorm")

    
    let imagesArray = []
    input.addEventListener("change", () => {
        const files = input.files
        for (let i = 0; i < files.length; i++) {
        imagesArray.push(files[i])
        }

        if (files.length > 0 && files.length <= 5) {
            Submit.style.display = 'inline-block';
        } else {
            Submit.style.display = 'none';
            if (imagesArray.length > 5) {
                errorm.style.display = 'block';
            }
        }

        displayImages()

    })
   
    function displayImages() {
        let images = ""
        imagesArray.forEach((image, index) => {
            images +=   `<div class="image" style="text-align:center;">
                        <img src="${URL.createObjectURL(image)}" alt="image">
                        <span onclick="deleteImage(${index})">&times;</span>
                        </div>`
        })
        output.innerHTML = images
    }
    function deleteImage(index) {
        imagesArray.splice(index, 1)
        displayImages()
        if (imagesArray.length > 0 && imagesArray.length <= 5) {
            Submit.style.display = 'inline-block';
        }  
        else {
            Submit.style.display = 'none';
            if (imagesArray.length > 5) {
                errorm.style.display = 'block';
            }
        }
    }

    function uploadImages() {
    const formData = new FormData()
    imagesArray.forEach(image => formData.append('images', image))

    const xhr = new XMLHttpRequest()
    xhr.open('POST', '/upload')
    xhr.send(formData)
  }
</script>
<%- include('Footer'); %>
