<%- include('Header'); %>

<h2 style="text-align: center">Results</h2>
<% if (errormes != null) { %>
    <div class="alert alert-danger" role="alert">
        <%= errormes%>
    </div>
<% } %>

<% for (let i = 0; i < Boximage.length; i++) { %>
    <img class="gallery-item" width="500" height="500" src="<%= Boximage[i] %>" alt="result"/>
<% } %>

<%- include('Footer'); %>
