<%- include('Header'); %>

<h2 style="text-align: center">Results</h2>

<% for (let i = 0; i < images.length; i++) { %>
    <div class="tc-container">
        <img class="" width="500" height="500" src="./Temp/<%= images[i].filename %>" alt="image"/>
        <img class="" width="500" height="500" src="./Temp/Box<%= images[i].filename %>" alt="boxresult"/>
    </div>
<% } %>

<%- include('Footer'); %>
