<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

<%- include('Header'); %>

<h2 style="text-align: center">Results</h2>


        <% for (let i = 0; i < images.length; i++) { %>
            <div class="tc-container">
                <img src="./Temp/Box<%= images[i].filename %>" alt="boxresult"/>
            </div>
        <% } %>



<style>
    .tc-container{
        margin-top: 20px;
        display: inline-block;
        margin-right: 10px;
        /* width: 50%;
        height: 50%;
        margin-left: 110px; */
    }
    .tc-container img{
        border-radius: 18px;
        border: 5px solid white;
        height: 400px;
        width: 400px;
        margin: 20px;
    }

    /* @media only screen and (max-width: 768px) {
        .tc-container img{
        border-radius: 18px;
        border: 5px solid white;
        height: 250px;
        width: 250px;
    }
    } */
    .res-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

     /* Small devices (portrait tablets and large phones) */
     @media only screen and (max-width: 768px) {
    
     .res-container{
       /* font-size: 14px;
       margin: 10px;
       padding: 10px; */

       display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        width: 400px;
     }
    }

    /* Medium devices (landscape tablets and small laptops) */
    @media only screen and (min-width: 768px) and (max-width: 992px) {

      .res-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        margin-right: 1000px;
      }
    }

    /* Large devices (desktops and large laptops) */
    @media only screen and (min-width: 992px) {
     .res-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        margin-right: 30px;
     }
    }
   /* .gallery-item{ */
        /* display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1; */
        /* height: 500px;
        width: 500px; */
        /* margin: auto;
        margin-right: 120px; */
        /* margin-left: 150px; */
        /* max-width: 100%;
        max-height: 100%; */
    /* } */
    /* .gallery-item {
        justify-content: center;
    } */

    /* @media only screen and (max-width: 768px) {
        .gallery-item {
            margin-bottom: 20px;
            display: block;
            margin-left: 30px;
        }
    } */

     .wrapper {
        display: flex;
        max-width: 650px;
        width: 120%;
        height: 400px;
        background: #ffffff00;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 12px;
        /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
     }
    .wrapper i.button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 36px;
        width: 36px;
        background-color: #343f4f;
        border-radius: 50%;
        text-align: center;
        line-height: 36px;
        color: #fff;
        font-size: 15px;
        transition: all 0.3s linear;
        z-index: 100;
        cursor: pointer;
        }
    i.button:active {
        transform: scale(0.94) translateY(-50%);
    }
    i#prev {
        left: -10px;
    }
    @media only screen and (min-width: 992px) {
        i#prev {
        left: -40px;
    }
    }
    i#next {
        right: -10px;
    }
    .image-container {
        height: 500px;
        width: 600px;
        overflow: hidden;
    }
    .image-container .carousel {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        transition: all 0.8s ease;
        align-items: center;
    }
    .carousel img {
        position: relative;
        border-radius: 18px;
        border: 10px solid #fff;
        object-fit: cover;
        width: 90%;
        height: 80%;
        margin-left: 110px;
    
    }

    @media only screen and (min-width: 992px) {
        .carousel img {
            position: relative;
            border-radius: 18px;
            border: 10px solid #fff;
            object-fit: cover;
            width: 90%;
            height: 90%;
            margin-left: 100px;
            margin-right: 100px;
    
      }
    }



</style>

<%- include('Footer'); %>
