<%- include('Header'); %>

<h2>apply filter to image</h2>

    <form action="/Filter">
        <label class="custom-file-upload">
            <button type="submit"></button>
            Add
        </label>
    </form>
</div>

<%- include('Footer'); %>
